<footer class="footer" role="contentinfo">
    <ul class="links">
    <li><a href="/about">About</a></li>
    <li><a title="Ten things we believe about technical hiring" href="/manifesto">Manifesto</a></li>
    <li><a href="/open-source-donations">Open Source Donations</a></li>
    <li><a href="/diversity">Diversity</a></li>
    <li><a href="/press">Press</a></li>
    <li><a href="/candidate_faq">FAQ</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/careers">Careers</a></li>
    </ul>
    <!-- <ul class="sublinks">
    <li><a href="/privacy">Privacy Policy</a></li>
    <li><a href="/terms">Terms and Conditions</a></li>
    <li><a target="_blank" title="Facebook Triplebyte" href="https://facebook.com/triplebyte"><i class="fa fa-facebook"></i></a> &nbsp; <a target="_blank" title="Twitter Triplebyte" href="https://twitter.com/triple_byte"><i class="fa fa-twitter"></i></a></li>
    </ul> -->
    </footer>