<!--<div>
  <form (submit)="loginUser($event)">
    <input type="text" placeholder="Username" id="username"/>
    <br/>

    <br/>
    <input type="password" placeholder="password" id="password"/>
    <br/>

    <br/>
    <input type="submit" value="submit">
  </form>
</div>-->

<div class="login-page">
  <div class="row justify-content-md-center">
      <div class="col-md-4">
          <img src="assets/images/logo.png" width="150px" class="user-avatar" />
          <h1>SB Admin BS4 Angular6</h1>
          <form role="form" (submit)="loginUser($event)">
              <div class="form-content">
                  <div class="form-group">
                      <!--<input type="text" ng-model="name" class="form-control input-underline input-lg" id="name" placeholder="username">-->
                      <input type="text" class="form-control input-underline input-lg" placeholder="Username" id="username"/>
                  </div>

                  <div class="form-group">
                     <!-- <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password">-->
                     <input type="password" class="form-control input-underline input-lg" placeholder="password" id="password"/>
                  </div>
              </div>
              <!--<a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>-->
              <input type="submit" value="submit" class="btn rounded-btn" >
              &nbsp;
              <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
          </form>

          <button (click)="socialSignIn('facebook')">Sign in with Facebook</button>
          <button (click)="socialSignIn('google')">Sign in with Google</button>      
      </div>
  </div>
</div>

