/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    height: 100vh;
  }
   
  app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: block;
    background: rgb(255, 255, 255);
  }
  .btn-primary {
    background-color:#4d7498;
    border-color: #4d7498;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color:#6165de;
    border-color: #6165de;
}